
# paste the generated token here
# MAKESURE TOKEN IS NOVER SHARED
TOKEN = "sample_token_here" 

# copy the server id of the server where you added your bot and paste it here
# To get the server ID right click on the server -> Copy ID
# If the copy id option is not visible, turn on developer options in discord settings.
TEST_SERVER_ID = 100000000000000000 
